# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment and system files
.env
.DS_Store

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore logs or temp files
*.log
*.tmp
